.pay{
    display: inline-block;
}
.FooterDiv .sm{
    height: 20px;
    width: 22px;
}
.HeaderDiv img{
    width: 60px;
    height: 60px;
}
body{
    width: 100%;
    height: 100%;
}
.maindiv{
    width: 100%;
    height: 100%;
}
.ContentDiv img{
    height: 500px;
    width: 500px;
}