.pay{
    display: inline-block;
}
.FooterDiv .sm{
    height: 20px;
    width: 22px;
}
.HeaderDiv img{
    width: 60px;
    height: 60px;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color:  #e0e0e0;
}
.maindiv{
    width: 100%;
    height: 100%;
}
.ContentDiv img{
    height: 500px;
    width: 500px;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
.conchild{
    height: 20%;
    width: 50%;
    background-color:  rgb(132,136,139);
    margin-top: 1%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    
}
/* .see{

   width: 100%; 
} */
.pay{
    padding: 1%;
}
.det{
    border: 1px solid black;
    margin: 2%;
    border-radius: 5px;
}
